/* Editar_perfil.php */
    /* BODY */
    body {
        overflow-x: hidden;
    }
    /* HEADER */
        header {
            width: 100vw;
            height: 3.7em;
            background-color: var(--cor2);
            display: flex;
            justify-content: space-between;
            overflow-y: visible;
        }

        header>nav>div>div {
            display: flex;
            justify-content: flex-end;
        }

        div#logo {
            font-family: var(--fonte-logo);
            font-size: 2em;
            margin-top: 0.2em;
            margin-left: 0.3em;
            color: var(--cor1);
        }

        header#h>nav>div>div>form>div>input::placeholder {
            color: #bdbdbd;   
        }
    /* /HEADER */
    /* MAIN */
     main {
        width: 100vw;
        height: 145vh;
    
        background-image: url(../assets/images/denunciarr.png);
        background-size: cover;
        
    }    

    main>div>h1 {
        font-family: Rakkas;
        color: #134F59;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 1em;
    }

    main>div>form>div>div#content-header {
        width: 650px;
        margin-left: 28em;
        margin-top: 3em;
        text-align: left;
        font-family: Rakkas;
        color: white;
    }

    main>div>form>div>div#content-header>p {
        font-family: Ysabeau Infant;
    }

    main>div>form>div>div#content {
       margin-left: 26.3em;
       font-family: Ysabeau Infant;
       color: white;
       padding-bottom: 2em;
    }

    main>div>form>div>div#content-2>div>textarea {
        font-family: Rakkas; 
     }

     main>div>form>div>div#content-2>div>input {
        font-family: Rakkas; 
     }
    /* /MAIN */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;
        
        width: 100vw;
        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }
    /* /FOOTER */
    /* /BODY */