/* Lista_de_noticias.css */
    /* BODY */
    body {
        overflow-x: hidden;
    }
    /* HEADER */
        header {
            width: 100vw;
            height: 3.7em;
            background-color: var(--cor2);
            display: flex;
            justify-content: space-between;
            overflow-y: visible;
        }

        header>nav>div>div {
            display: flex;
            justify-content: flex-end;
        }

        div#logo {
            font-family: var(--fonte-logo);
            font-size: 2em;
            margin-top: 0.2em;
            margin-left: 0.3em;
            color: var(--cor1);
        }

        header#h>nav>div>div>form>div>input::placeholder {
            color: #bdbdbd;   
        }
    /* /HEADER */
    /* MAIN */
    main {
        width: 100vw; 
        height: 140vh;
        
    }    

    h1#titulo {
        font-family: Rakkas;
        color: #134F59;
    }

    h2 {
        font-family: Rakkas;
        font-size: 1.8em;
        color: #134F59;
        position: relative;
        top: 4.2em;
        left: 18.7em;
        text-decoration: underline;
    }
    #botaoControle{
        margin: 0px; 
        margin-top: 1em; 
        margin-right: 0.1em;
        font-family: Rakkas;
        font-size: 1.8em;
        color: #134F59;
        margin-top: 1em;
        margin-right: 2em;
        text-decoration: underline;
        background-color: transparent;
        border: 0px; 
    }


    p#error {
        font-family: Rakkas;
        font-size: 2.5em;
        color: red;
    }
    /* /MAIN */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;

        width: 100vw;

        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }
    /* /FOOTER */
/* /lista_de_noticias.css */