/* Login.php */
    /* BODY */
    body#body-login {
        overflow-x: hidden;
    }
    /* HEADER */
        header#header-login {
            width: 100vw;
            background-color: var(--cor2);
            /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.493);*/
        }

        header>nav>div>div {
            display: flex;
        }

        header#header-login>nav>div>div>a#button-entrar {
            margin-right: 0.88em;
        }
        
        div#logo {
            background-image: url(../assets/images/logo-teste.png); 
            background-size: cover;
            background-repeat: no-repeat;
            width: 6.1em;
            height: 3.5em;
    
            /*font-family: var(--fonte-logo);
            font-size: 2em;
            color: var(--cor1);*/
        }

        a#button-entrar {
            font-family: var(--fonte-texto);
            font-size: 1.2em;
            width: 4em;
            text-align: center;
            padding: 0.4em;
            border-radius: 0.2em;
            /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);*/
            color: var(--cor2);
            background-color: var(--cor1);
            text-decoration: none;
            margin-right: 0.88em;
        }
    
        /*a#button-entrar:hover {
            background-color: var(--cor1);
            color: var(--cor2);
            transition: 0.5s;
        }*/

        a#button-cadastrar {
            font-family: var(--fonte-texto);
            font-size: 1.2em;
            width: 6.5em;
            margin-right: 0.5em;
            text-align: center;
            padding: 0.4em;
            border-radius: 0.2em;
            /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);*/
            color: var(--cor2);
            background-color: var(--cor3);
            text-decoration: none;
        }
    
        /*a#button-cadastrar:hover {
            background-color: var(--cor1);
            color: var(--cor2);
            transition: 0.5s;
        }*/
    /* /HEADER */
    /* MAIN */
        main#main-login {
            width: 100vw; 
            height: 100vh;
        }

        div#login {
            display: inline-block;
            background-color: var(--cor1);
            width: 25em;
            height: 26em;
            padding: 1em;
            margin-left: 11.22em;
            margin-right: 0px;
            margin-top: 5em;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
        }

        div#login>h1#titulo-login {
            font-family: var(--fonte-titulo);
            font-size: 2.5em;
            color: var(--cor2);
        }

        button#entrar-login {
            font-family: var(--fonte-texto);
            font-size: 1.2em;
            color: var(--cor2);
            background-color: var(--cor3);
            padding: 0.4em;
            border-radius: 0.2em;
            border: 0px;
            /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.486);*/
            margin-bottom: 1em;
            text-align: center;
            width: 14.8em;
        }

        /*button#entrar-login:hover {
            background-color: var(--cor0);
            color: var(--cor1);
            transition: 0.5s;
        }*/

        div#login>form>div>input {
            font-family: var(--fonte-texto);   
        }

        div#login>form>div>input::placeholder {
            color: #bdbdbd;   
        }

        div#login>form>div>span {
            font-family: var(--fonte-texto);  
            margin-top: 0.5em; 
        }

        main#main-login>div>form>p {
            font-family: var(--fonte-texto);
            font-size: 1em;
            margin-bottom: 0.5em;
            color: var(--cor2);
        }

        main#main-login>div>form>p>a {
            color: var(--cor3);
        }

        main#main-login>div>form>a {
            font-family: var(--fonte-texto);
            font-size: 1em;
            color: var(--cor3);
        }
    /* /MAIN */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;

        width: 100vw;

        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }

    footer#footer-login>div>p>a {
        margin-right: 1em;
    }

/* /FOOTER */
/* /BODY */
/* /Login.php */