/* Mesa_dashboard.css */
    /* BODY */
    body {
        overflow-x: hidden;
    }
    /* HEADER */
        header {
            width: 100vw;
            height: 3.7em;
            background-color: var(--cor2);
            display: flex;
            justify-content: space-between;
            overflow-y: visible;
        }

        header>nav>div>div {
            display: flex;
            justify-content: flex-end;
        }

        div#logo {
            font-family: var(--fonte-logo);
            font-size: 2em;
            margin-top: 0.2em;
            margin-left: 0.3em;
            color: var(--cor1);
        }

        header#h>nav>div>div>form>div>input::placeholder {
            color: #bdbdbd;   
        }
    /* /HEADER */
    main {
        width: 100vw; 
        height: 70em;
        background-image: url(../assets/images/mesa-fundo-dash.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }    

    div#content {
        display: flex;
    }

    div#section-1 {
        width: 600px;
        margin-left: 7em;
        position: relative;
        top: -2em;
    }

    div#sinopse {
        flex-direction: column; 
        text-align: left;
    }

    div#sinopse>h1 {
        font-family: Rakkas;
        color: #134F59;
    
    }

    div#sinopse>p {
        font-family: Montagna LTD;
        font-size: 1em;
        height: 100px;
        color: #134F59;
        margin-bottom: 0.5em;
    }

    div#requisitos {
        flex-direction: column;
        text-align: left;
    }

    div#requisitos>h1{
        font-family: Rakkas;
        color: #134F59;

    }

    div#requisitos>p {
        font-family: Montagna LTD;
        font-size: 1em;
        height: 80px;
        color: #134F59;
    }

    div#titulo {
        background-color: #212529bd;
        width: 71.4em;
        position: relative;
        top: -8.4em;
        left: 4em;
        border-radius: 0.4em;
        
    }

    div#titulo>div>div>h1 {
        font-family: Rakkas;
        color: white;
        margin: 0px;
        
    }

    div#titulo>div>div>h2 {
        font-family: Rakkas;
        color: white;
        margin: 0px;
        margin-right: 0.5em;
        
    }

    div#titulo>div>div>p {
        background-color: black;
        color: white;
        font-family: var(--fonte-texto);
        font-size: 0.7em;
        width: 6.5em;
        border-radius: 0.3em;
        padding: 0.2em;
        margin-top: 0.5em;
    }

    div#section-2>div>h1 {
        font-family: Rakkas;
        color: #134F59;
        margin-right: 3em;
        position: relative;
        top: -0.7em;
        left: 1.9em;
    }

    div#section-2>div>div {
        background-color: #134F59;
        width: 384px;
        height: 40px;
        padding: 0.5em;
        border-radius: 0.2em;
        margin-bottom: 0.5em;
        position: relative;
        left: 4.6em;

    }

    div#section-2>div>div>p {
        font-family: Rakkas;
        color: white;
    }

    div#section-2>div>a {
        position: relative;
        top: 9em;
        left: 0.5em;
    }
    /* /MAIN */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;

        width: 100vw;

        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }
    /* /FOOTER */
    /* /BODY */