/* Perfil.php */
    /* BODY */
    body {
        overflow-x: hidden;
    }
    /* HEADER */
        header {
            width: 100vw;
            height: 3.7em;
            background-color: var(--cor2);
            display: flex;
            justify-content: space-between;
            overflow-y: visible;
        }

        header>nav>div>div {
            display: flex;
            justify-content: flex-end;
        }

        div#logo {
            font-family: var(--fonte-logo);
            font-size: 2em;
            margin-top: 0.2em;
            margin-left: 0.3em;
            color: var(--cor1);
        }

        header#h>nav>div>div>form>div>input::placeholder {
            color: #bdbdbd;   
        }
    /* /HEADER */
    /* MAIN */
    main {
        width: 100vw; 
        height: 140vh;
        
    }    

    main>div>form>div>div>div>img {
        border-radius: 500px 500px 500px 500px;
        margin-top: 8em;
        margin-left: 6em;
    }

    main>div>form>div>div>div>h2#nome {
        font-family: Rakkas;
        color: #134F59;
        
    }

    main>div>form>div>div>div>h2#name{
        font-family: Rakkas;
        color: #134F59;
        margin-top: 3.8em;
        margin-right: 1em;
    }

    main>div>form>div>div>div>h2#apelido {
        font-family: Rakkas;
        color: #134F59;
        margin-top: 2.2em;
        margin-right: 3.8em;
    }

    main>div>form>div>div>div>h2#bio {
        font-family: Rakkas;
        color: #134F59;
        margin-top: 2.5em;
        margin-right: 1em;
    }

    main>div>form>div>div>div>h2#discord {
        font-family: Rakkas;
        color: #134F59;
        margin-top: 2.2em;
        margin-right: 3.8em;
    }

   
    /* /MAIN */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;

        width: 100vw;

        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }
    /* /FOOTER */