/* Usuario_dashboard.php */
    /* BODY */
    body#body-userDash {
        overflow-x: hidden;
    }
    /* HEADER */
        header#header-userDash {
            width: 100vw;
            height: 3.7em;
            background-color: var(--cor2);
            display: flex;
            justify-content: space-between;
            overflow-y: visible;
        }

        header>nav>div>div {
            display: flex;
            justify-content: flex-end;
        }

        div#logo {
            font-family: var(--fonte-logo);
            font-size: 2em;
            margin-top: 0.2em;
            margin-left: 0.3em;
            color: var(--cor1);
        }

        header#header-userDash>nav>div>div>form>div>input::placeholder {
            color: #bdbdbd;   
        }
    /* /HEADER */
    /* ANÚNCIOS */
        div#userDash-carousel-item {
            height: 30em;
            display: inline;
            margin-bottom: 4.5em;
        }    
        
        div#userDash-carousel-item-2 {
            height: 30em;
        }  

        div#userDash-carousel-caption {
            background-color: #212529bd; 
            position: relative; 
            left: 0; 
            top: -8.5em;
            padding: 0;
        }

        div#userDash-carousel-caption>div>div>div>p {
            background-color: black;
            font-family: var(--fonte-texto);
            font-size: 0.7em;
            width: 6.5em;
            border-radius: 0.3em;
            padding: 0.2em;
            margin-top: 0.5em;
        }

        div#body-hx {
            padding: 1em;
            flex-grow: 2;
        }

        h1#userDash-h1 {
            font-family: var(--fonte-titulo);
        }

        h3#userDash-h3 {
            font-family: var(--fonte-titulo);
        }

        img#taverneiro {
            height: 15em;
            position: relative;
            top: -5em;
        }
    /* /ANÚNCIOS */
    /* MINHAS MESAS */
        section#minhas_mesas {
            background-image: url("../assets/images/fundo-mesas-teste (3).png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin:auto; 
            padding-bottom: 2em;
            height: 50em;
        }

        section#minhas_mesas>h1 {
            position: relative;
            bottom: -0.5em;
            margin-bottom: 3em;
            left: 0.1em;
            font-family: var(--fonte-titulo);
            font-size: 2.8em;
            color: var(--cor3);
        }

        section#minhas_mesas>div>div>h2 {
            position: relative;
            left: -1em;
            font-family: var(--fonte-titulo);
            font-size: 2.4em;
            color: var(--cor3);
        }

        section#minhas_mesas>div>div>h2#part {
            position: relative;
            left: 0em;
        }


        section#minhas_mesas>div>div>h4 {
            position: relative;
            left: -1em;
            font-family: var(--fonte-titulo);
            font-size: 2.4em;
            margin: auto;
            width: 10em;
            margin-bottom: 1em;
            color: var(--cor1);
        }
    /* /MINHAS MESAS */
    /* NOTICIAS */    
    section#noticias {
        margin:auto;
        width: 100%;
        background-image: url(../assets/images/fundo-noticias-teste\ \(4\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    section#noticias>h1 {
        background-image: url(../assets/images/faixa\ 1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 1em;
        padding-top: 0.3em;
        height: 2.2em;
        font-family: var(--fonte-titulo);
        font-size: 3em;
        color: var(--cor3);
    }
    /* /NOTICIAS */
    /* FOOTER */
    footer {
        position: relative;
        bottom: 0;

        width: 100vw;

        background-color: var(--cor1);
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer>div>p {
        font-family: var(--fonte-texto);
        font-size: 1em;
        margin: 0px;
        color: var(--cor2);
    }

    footer>div>p>a>img {
        margin-left: 0.3em;
        margin-right: 1em;
        width: 1.6em;
        height: 1.6em;
    }
    /* /FOOTER */
/* /BODY */
/* /Usuario_dashboard.php */