@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(lightseagreen, chartreuse);
    margin: auto;
}

main > h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

main > form {
    text-align: center;
    background-color: lightseagreen;
    margin: auto;
    width: 350px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.365);
}

main > form > input {
    width: 354px;
    height: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-indent: 10px;
    border: none;
    outline: 0;
    border-radius: 5px;
}

main > form > input#cadastrar {
    width: 354px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 15px;
    background-color: chartreuse;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.365);
}

main > form > input#cadastrar:hover {
    background-color: rgb(106, 210, 3);
}

main > form > label {
    display: block;
    text-align: left;
    color: white;
}

a {
    color: chartreuse;
    text-decoration: none;
}

a:hover {
    color: rgb(106, 210, 3);
}

p {
    margin-bottom: 10px;
    padding: 7px;
    color: white;
    font-size: 1em;
    text-align: center;
}
